ImageGen/.idea
ImageGen/__pycache__
ImageGen/*.png
ImageGen/*.jpg
ImageGen/*.tif
ImageGen/*.tiff
HeightMapGenerator/
DoodleMaze/app/src/main/jniLibs/
UnityComponent/DoomMaze/Assets/Firebase/
UnityComponent/DoomMaze/*.csproj
HeightMapGenerator/res
HeightMapGenerator/bin
UnityComponent/DoomMaze/Library
UnityComponent/DoomMaze/Logs
UnityComponent/DoomMaze/Temp
UnityComponent/DoomMaze/obj
DoodleMaze/openCVLibrary343/
DoodleMaze/openCVLibrary343/build/
UnityComponent/DoomMaze/*.apk
UnityComponent/Temp
APKS/*.apk
.idea/
*.sln
*.vs/
